// vary-ables
$cardHeight: 250px;
$cardWidth: 200px;
$primary: #85B8D6;
$secondary: #CF6E84;

body {
    margin: 0px;
}

.game {
    width: 100%;
    height: 100%;
    position: absolute;
}

.card {
    border: 1px solid black;
    position: absolute;
    width: $cardWidth;
    height: $cardHeight;
    background-color: #fff;
    z-index: 1;
    cursor: default;
}

.draggable {
    transition: box-shadow 0.1s;
    &:hover {
        // todo: ideally, highlight would show with context menu open
        box-shadow: 0px 0px 10px $primary;
    }
}

.held {
    transition: transform 0s;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
    z-index: 100;
}

.preview {
    transform: scale(1.2, 1.2) translate(20px, 20px);
}

.zone {
    border: 1px dashed black;
    border-radius: 6px;
    text-align: center;

    p {
        top: $cardHeight;
        position: relative;
    }
}

.stack {
    width: $cardWidth + 20px;
    height: $cardHeight + 20px;
}

.deck {
    width: $cardWidth + 20px;
    height: $cardHeight + 40px;
}

.hand {
    height: $cardHeight + 40px;
}

.menu {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.5);
    z-index: 999;
    width: 90px;

    > div {
        margin: 0px;
        padding: 4px;
        border-bottom: 1px dotted black;

        &:last-child {
            border: none;
        }

        &:hover {
            background-color: $primary;
            cursor: pointer;
        }
    }
}
